.contact{
    
    box-sizing: border-box;
    margin: 50px;
    background-color: lightgray;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightblue;
    border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    width: 95%;
    padding: 10px;
}
h1{
    text-align: center;
}
input[type="submit"]{
    background-color: lightblue;
    font-size:15px;
    box-sizing: border-box;
    border-radius: 3px;
}
@media screen and (max-width:600px),
 screen and (orientation:landscape)  {
    .contact{
        background-color: aquamarine;
    }
}
