*{
    padding: 0;
    margin: 0;
}
/* header css */


.head {
  background-color: rgb(17, 162, 167);
}
#header {
  text-align: center;
}

#navhead a {
  text-size-adjust: 54;
  font-size: 18px;
  padding: 10px ;
  text-align: center;
  float: left;
  text-decoration: none;
}
#navhead {
  overflow: hidden;
}
.navheadid{
    float: right;
}
.navhead a:hover{
    color: red;
}


/* second nav bar  */
.nav {
  background-color: black;
  
  overflow: hidden;
}
.nav a {
  /* text-size-adjust: 42; */
  font-size: 18px;
  padding: 14px ;
  text-align: center;
  float: left;
  text-decoration: none;
  color: white;
}
.nav a:hover,
.dropdown:hover,
.dropbtn {
  background-color: rgb(66, 19, 19);
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: auto; /*or 1 */
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(176, 169, 169);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.topnav-right
{
    float: right;
}
#userid{
    position: absolute;
    right: 100px;
}

/* About the site  */
.aboutsite{
    text-align: center;
}
