.loginpage{
    text-align: center;
    /* padding: 15px 15px 15px 15px; */
    /* padding: 5px 20px 15px 20px; */

    padding: 15px;
    border: 1px solid darkgray;
    border-radius: 15px;
    box-shadow: 0px 5px 9px 0px #252121;
    margin: auto;
    margin-top: 150px;
    width: 30%;
    height: 240px;
    /* padding: 5px 20px 15px 20px; */
    font-size: 30px;

}
input[type="text"],
input[type="password"] {
    padding: 3px;
    width: 50%;

}
.loginid{
    font-size: 25px;
    padding: 15px;
}
input[type="submit"]{
    font-size: 18px;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    background-color:rgba(128, 128, 128, 0.642) ;
    cursor: pointer;


}
@media screen and (width=621) {
    body{
        background-color: rgb(11, 9, 6);
    }  
}